<!-- faq.html.twig -->
{% if content.faqs is defined and content.faqs is not empty %}
  <div class="mx-auto px-4 sm:px-6 md:px-4 lg:px-8 text-lg tracking-tight text-slate-700">
    {% for item in content.faqs %}
        <section class="mb-10">
          <h3 class="text-2xl font-bold">{{ item.headline }}</h3>
          <p>{{ item.subline }}</p>
        </section>
    {% endfor %}
  </div>
{% endif %}
<!-- end faq.html.twig -->
