<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
  <div class="max-w-screen-lg text-gray-500 sm:text-lg">
    <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">{{ content.headline }}</h2>
    {% if content.items is defined and content.items is not empty %}
      {% for item in content.items %}
        <div class="mb-4">{{ item.description|raw }}</div>
      {% endfor %}
    {% endif %}
  </div>
</div>
