<!-- introduction.html.twig -->
<div class="mx-auto px-4 sm:px-6 md:px-4 lg:px-8 text-lg tracking-tight text-slate-700">
    <h2 class="font-display text-4xl font-bold tracking-tight text-slate-900">
        {{ content.headline }}
    </h2>
    <div class="mt-4">
        {{ content.description|raw }}
    </div>
    {% if content.items is defined and content.items is not empty %}
      <ul role="list" class="mt-8 space-y-3">
          {% if content.items is not empty %}
              {% for item in content.items %}
                  <li class="flex">
                      <svg aria-hidden="true" viewBox="0 0 32 32" class="h-8 w-8 flex-none fill-blue-500">
                          <path d="M11.83 15.795a1 1 0 0 0-1.66 1.114l1.66-1.114Zm9.861-4.072a1 1 0 1 0-1.382-1.446l1.382 1.446ZM14.115 21l-.83.557a1 1 0 0 0 1.784-.258L14.115 21Zm.954.3c1.29-4.11 3.539-6.63 6.622-9.577l-1.382-1.446c-3.152 3.013-5.704 5.82-7.148 10.424l1.908.598Zm-4.9-4.391 3.115 4.648 1.661-1.114-3.114-4.648-1.662 1.114Z"></path>
                      </svg>
                      <span class="ml-4">
                          {{ item.description|raw }}
                      </span>
                  </li>
              {% endfor %}
          {% endif %}
      </ul>
    {% endif %}
    {% if content.descriptiontwo is defined and content.descriptiontwo is not empty %}
      <div class="mt-8">
        {{ content.descriptiontwo|raw }}
      </div>
    {% endif %}
</div>
<!-- end introduction.html.twig -->
