security:
    access_decision_manager:
        strategy: unanimous
        allow_if_all_abstain: true

    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        sulu:
            id: sulu_security.user_provider
        mcp:
            id: App\Security\McpUserProvider

    access_control:
        - { path: ^/\.well-known/, roles: PUBLIC_ACCESS }
        - { path: ^/oauth/, roles: PUBLIC_ACCESS }
        - { path: ^/authorize$, roles: PUBLIC_ACCESS }
        - { path: ^/token$, roles: PUBLIC_ACCESS }
        - { path: ^/admin/reset, roles: PUBLIC_ACCESS }
        - { path: ^/admin/security/reset, roles: PUBLIC_ACCESS }
        - { path: ^/admin/login$, roles: PUBLIC_ACCESS }
        - { path: ^/admin/2fa, role: PUBLIC_ACCESS }
        - { path: ^/admin/_wdt, roles: PUBLIC_ACCESS }
        - { path: ^/admin/_profiler, roles: PUBLIC_ACCESS }
        - { path: ^/admin/translations, roles: PUBLIC_ACCESS }
        - { path: ^/admin$, roles: PUBLIC_ACCESS }
        - { path: ^/admin/$, roles: PUBLIC_ACCESS }
        - { path: ^/admin/p/, roles: PUBLIC_ACCESS }
        - { path: ^/admin, roles: ROLE_USER }
        - { path: ^/mcp, roles: ROLE_MCP_ACCESS }

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        discovery:
            pattern: ^/\.well-known/
            security: false

        oauth:
            pattern: ^/oauth/
            security: false

        oauth_fallback_authorize:
            pattern: ^/authorize$
            security: false

        oauth_fallback_token:
            pattern: ^/token$
            security: false

        mcp:
            pattern: ^/mcp
            stateless: true
            provider: mcp
            custom_authenticators:
                - App\Security\McpTokenAuthenticator

        admin:
            pattern: ^/admin(\/|$)
            lazy: true
            provider: sulu
            entry_point: sulu_security.authentication_entry_point
            json_login:
                check_path: sulu_admin.login_check
                success_handler: sulu_security.authentication_handler
                failure_handler: sulu_security.authentication_handler
            logout:
                path: sulu_admin.logout

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10

        access_decision_manager:
            strategy: affirmative

        providers:
            sulu:
                id: test_user_provider

        firewalls:
            admin:
                http_basic:
                    provider: sulu
