variables:
  CI_IMAGE: $CI_REGISTRY/$CI_PROJECT_PATH/$CI_COMMIT_REF_SLUG:$CI_PIPELINE_ID
  CI_DEV_IMAGE: $CI_REGISTRY/$CI_PROJECT_PATH/dev/$CI_COMMIT_REF_SLUG:$CI_PIPELINE_ID
  BASE_URL: https://nevercodealone.projects.nevercodealone.de

stages:
  - build
  - deploy_stage
  - trigger_test
  - deploy_live

trigger_test:
  stage: trigger_test
  trigger:
    project: never-code-alone/never-code-alone-cypress-basis-tests
    branch: main
    strategy: depend
  variables:
    CYPRESS_BASE_URL: https://nevercodealone.projects.nevercodealone.de

build:
  stage: build
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - docker build -f Dockerfile.conversis --target webserver-live -t $CI_IMAGE --pull .
    - docker push $CI_IMAGE
    - docker build -f Dockerfile.conversis --target webserver-dev -t $CI_DEV_IMAGE --pull .
    - docker push $CI_DEV_IMAGE
  tags:
    - docker1

.deploy:
  image: docker:latest
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker compose -f docker-compose.conversis.yml -p $SHORTCODE1 rm -sfv ||true
    - docker volume rm $SHORTCODE1"_var" ||true
  script:
    - docker exec mariadb /bin/clonedb.sh $DB_USER $DB_NAME ${PREFIX}_${DB_NAME}
    - DB_NAME=${PREFIX}_${DB_NAME} docker compose -f docker-compose.conversis.yml -p $SHORTCODE1 up -d --remove-orphans
    - docker cp $SHORTCODE-web:/var/www/html/var/uploads /tmp/
    - docker cp /tmp/uploads $SHORTCODE1-web:/var/www/html/var/
    - docker exec $SHORTCODE1-web rm -rf /var/www/html/var/cache/*
    - docker exec $SHORTCODE1-web chown www-data:www-data -R /var/www/html/var/

deploy_stage:
  stage: deploy_stage
  tags:
    - docker2
  only:
    - main
  extends: .deploy
  environment:
    name: stage
    url: https://$URL
  variables:
    IMAGE: $CI_DEV_IMAGE
    SHORTCODE1: stage-$SHORTCODE
    DATABASE_URL: mysql://$DB_USER:$DB_PWD@$DB_HOST:3306/${PREFIX}_${DB_NAME}
    PREFIX: stage

deploy_branch:
  stage: deploy_stage
  tags:
    - docker2
  except:
    - main
  extends: .deploy
  environment:
    name: $CI_COMMIT_BRANCH
    url: https://$URL
  variables:
    IMAGE: $CI_DEV_IMAGE
    SHORTCODE1: $CI_COMMIT_BRANCH-$SHORTCODE
    DATABASE_URL: mysql://$DB_USER:$DB_PWD@$DB_HOST:3306/${PREFIX}_${DB_NAME}
    URL: $CI_COMMIT_BRANCH.$URL
    PREFIX: $CI_COMMIT_BRANCH

deploy_live:
  stage: deploy_live
  tags:
    - docker2
  only:
    - merge_request
    - main
  needs:
    - trigger_test
  image: docker:latest
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - docker compose -f docker-compose.conversis.yml -p $SHORTCODE1 up -d --remove-orphans
    - docker exec $SHORTCODE1-web chown www-data:www-data -R /var/www/html/var/
  after_script:
    - docker exec $SHORTCODE1-web rm -rf /var/www/html/var/cache/*
  environment:
    name: live
    url: https://$URL
  variables:
    IMAGE: $CI_IMAGE
    SHORTCODE1: $SHORTCODE
    DATABASE_URL: mysql://$DB_USER:$DB_PWD@$DB_HOST:3306/$DB_NAME
