parameters:
  paths:
    - src
    - tests
    - config
  level: 6
  symfony:
    container_xml_path: %currentWorkingDirectory%/var/cache/website/dev/App_KernelDevDebugContainer.xml
  ignoreErrors:
    - '#^PHP Fatal error:  Uncaught Error: Interface "PHPStan\\Reflection\\AdditionalConstructorsExtension" not found#'
  excludePaths:
    - src/Kernel.php
