<tr class="heading-content">
    <td colspan="4" class="left heading-content">1. {{ content.dayOneHeadline }}</td>
</tr>
{% for dayOneItem in content.dayOneItems %}
    <tr class="table-row">
        <td class="left col-1">
            <a href="#">
                <i class="bg-green mr25 fa fa-caret-right"></i>
                <span>
                    1.1 {{ dayOneItem.title }}
                </span>
            </a>
        </td>
        <td class="green-color col-4">
            {% set faIconClass = dayOneItem.status == 'team' ? 'w27 fa fa-users' : 'fas fa-chalkboard-teacher' %}
            {% set status = dayOneItem.status == 'team' ? 'Team' : 'Theorie' %}
            <i class="{{ faIconClass }}"></i>
            <span>
                {{ status }}
            </span>
        </td>
    </tr>
{% endfor %}
<tr class="spacing-table">
    <td colspan="4"></td>
</tr>
