<!-- table.html.twig -->
<tr class="heading-content">
    <td colspan="4" class="left heading-content">{{ headline }}</td>
</tr>
{% for item in items %}
    <tr class="table-row">
        <td class="left col-1">
            <i class="bg-green mr25 fa fa-caret-right"></i> {{ item.title }}
        </td>
        <td class="green-color col-4">
            {% set faIconClass = item.status == 'team' ? 'w27 fa fa-users' : 'fas fa-chalkboard-teacher' %}
            {% set status = item.status == 'team' ? 'Team' : 'Theorie' %}
            <i class="{{ faIconClass }}"></i>
            <span>
                {{ status }}
            </span>
        </td>
    </tr>
{% endfor %}
<tr class="spacing-table">
    <td colspan="4"></td>
</tr>
<!-- end table.html.twig -->
