div.sub-menu-2-item > h3 {
    padding-left: 20px;
}
.tz-header-2 ul.tz-menu > li {
    padding: 44px 0;
}
.tz-event-style-4 {
    border: 2px solid #5fbb28;
}
.upcoming {
    border-color: red;
}

.tz-header-2 ul.tz-menu > li {
    padding: 49px 0;
}
