<!-- quote.html.twig -->
{% if content.description is defined and content.description is not empty %}
    <figure class="mx-auto max-w-screen-md">
        <svg class="h-12 mx-auto mb-3 text-gray-400" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/>
        </svg>
        <blockquote>
            <div class="text-xl lg:text-2xl font-medium text-gray-900 text-center italic">
                "{{ content.description|striptags }}"
            </div>
        </blockquote>
        {% if content.name is defined and content.name is not empty %}
            <figcaption class="flex items-center justify-center mt-6 space-x-3">
                <div class="text-center">
                    <cite class="pr-3 font-medium text-gray-900 not-italic">{{ content.name }}</cite>
                    {% if content.company is defined and content.company is not empty %}
                        <cite class="text-sm font-light text-gray-500 block">{{ content.company }}</cite>
                    {% endif %}
                </div>
            </figcaption>
        {% endif %}
    </figure>
{% endif %}
<!-- end quote.html.twig -->