<!-- blocks.html.twig -->
{% set seo = (extension.seo is defined) ? extension.seo : [] %}
{% if content.blocks|default([])|length %}
    {% set headlines = [] %}
    {% set faqArray = [] %}
    {% set isFirstHeadline = true %}

    {% for block in content.blocks %}
      {% if block.type == 'headline-paragraphs' %}
        {% set headlines = headlines|merge([block]) %}
      {% endif %}
    {% endfor %}

    {% for block in content.blocks %}
    {% if block.type starts with 'hero' %}{% set hasContainer = false %}{% else %}{% set hasContainer = true %}{% endif %}
<section class="pt-4 pb-2 sm:pt-8 sm:pb-4">
{% if hasContainer %}
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
{% endif %}
  {% include 'includes/tailwind/blocks/' ~ block.type ~ '.html.twig' with {
              content: block,
              headlines: headlines,
              extension: extension,
              id: id,
              seo: seo,
              loopIndex: loop.index,
              isFirstHeadline: isFirstHeadline
  } only %}

          {% if block.type == 'headline-paragraphs' and isFirstHeadline %}
            {% set isFirstHeadline = false %}
          {% endif %}
{% if hasContainer %}
  </div>
{% endif %}
  </section>

  {% if block.type == 'faq' %}
        {% set faqArray = faqArray|merge(block.faqs) %}
      {% endif %}
    {% endfor %}
{% endif %}

{% if faqArray is defined and faqArray is not empty %}
<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
  {% for item in faqArray %}
  {
      "@type": "Question",
      "name": "{{ item.headline }}",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "{{ item.subline }}"
                }
            }{% if not loop.last %},{% endif %}
          {% endfor %}
  ]
}
</script>
{% endif %}
<!-- end blocks.html.twig -->
