<!-- HL DES LIST START -->
<div class="section section-padding choose-course">
    <div class="container">
        <h2>{{ content.headline }}</h2>
        {{ content.description|raw }}
    </div>
</div>
<!-- HL DES LIST STOP -->
