<!-- HL DES LIST START -->
<div class="section section-padding choose-course">
    <div class="container">
        <h2>{{ content.headline }}</h2>
        <div style="line-height: 1.6">
          {{ content.description|raw }}
        </div>
    </div>
</div>
<!-- HL DES LIST STOP -->
