<blockquote>
    <div class="main-quote">{{ content.headline }}</div>
    <div class="sub-quote">{{ content.description|raw }}</div>
    <footer>{{ content.name }}
        <small>({{ content.company }})</small>
    </footer>
</blockquote>
