<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- LIBRARY FONT-->
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,900,300">
        <link type="text/css" rel="stylesheet" href="edugate/assets/font/font-icon/font-awesome-4.4.0/css/font-awesome.css">
        <link type="text/css" rel="stylesheet" href="edugate/assets/font/font-icon/font-svg/css/Glyphter.css">
        <!-- LIBRARY CSS-->
        <link type="text/css" rel="stylesheet" href="edugate/assets/libs/animate/animate.css">
        <link type="text/css" rel="stylesheet" href="edugate/assets/libs/bootstrap-3.3.5/css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="edugate/assets/libs/owl-carousel-2.0/assets/owl.carousel.css">
        <link type="text/css" rel="stylesheet" href="edugate/assets/libs/selectbox/css/jquery.selectbox.css">
        <link type="text/css" rel="stylesheet" href="edugate/assets/libs/fancybox/css/jquery.fancybox.css">
        <link type="text/css" rel="stylesheet" href="edugate/assets/libs/fancybox/css/jquery.fancybox-buttons.css">
        <link type="text/css" rel="stylesheet" href="edugate/assets/libs/media-element/build/mediaelementplayer.min.css">
        <!-- STYLE CSS-->
        <link type="text/css" rel="stylesheet" href="edugate/assets/css/color-1.css" id="color-skins">
    </head>
    <body>
        <!-- WRAPPER -->
        <div id="wrapper-content">
            <div id="page-wrapper">
                <!-- MAIN -->
                <div id="main-content">
                    <section id="content">
                        {% block content %}{% endblock %}
                    </section>
                </div>
            </div>
            <div id="back-top">
                <a href="#top"><i class="fa fa-angle-double-up"></i></a>
            </div>
        </div>
        <!-- FOOTER -->
        <footer id="footer"></footer><!-- JAVASCRIPT LIBS-->
        <script src="edugate/assets/libs/jquery/jquery-2.1.4.min.js"></script>
        <script src="edugate/assets/libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
        <script src="edugate/assets/libs/smooth-scroll/jquery-smoothscroll.js"></script>
        <script src="edugate/assets/libs/owl-carousel-2.0/owl.carousel.min.js"></script>
        <script src="edugate/assets/libs/appear/jquery.appear.js"></script>
        <script src="edugate/assets/libs/count-to/jquery.countTo.js"></script>
        <script src="edugate/assets/libs/wow-js/wow.min.js"></script>
        <script src="edugate/assets/libs/selectbox/js/jquery.selectbox-0.2.min.js"></script>
        <script src="edugate/assets/libs/isotope/isotope.pkgd.min.js"></script>
        <script src="edugate/assets/libs/fancybox/js/jquery.fancybox.js"></script>
        <script src="edugate/assets/libs/fancybox/js/jquery.fancybox-buttons.js"></script>
        <script src="edugate/assets/libs/js-cookie/js.cookie.js"></script>
        <script src="edugate/assets/js/main.js"></script>
        <!-- LOADING SCRIPTS FOR PAGE-->
        <script src="edugate/assets/js/pages/homepage.js"></script>
    </body>
</html>
