<!DOCTYPE html>
<html class="scroll-smooth bg-white antialiased" lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "partial/header.html.twig" %}
    <script defer type="text/javascript" src="/klaro/config.js"></script>
    <script
        defer
        data-config="klaroConfig"
        type="application/javascript"
        src="/klaro/klaro.js">
    </script>
    <link href="/klaro/klaro.min.css" rel="stylesheet"/>
    <link href="/klaro/klaro-custom.css" rel="stylesheet"/>
    {% block style %}
        {{ encore_entry_link_tags('style') }}
    {% endblock %}
    {% include 'partial/analytics.html.twig' %}
</head>
<body>

<div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
    {% include 'includes/tailwind/navigation.html.twig' %}
    {% include 'includes/tailwind/breadcrumb.html.twig' %}
    <main id="content">
      {% block content %}{% endblock %}
    </main>
</div>
{% include 'includes/tailwind/snippets/footer.html.twig' %}
<script defer="true">
  (function(w,d,s,l,i){
    var g=w[l] ? '&s='+w[l]:'', f=d.getElementsByTagName(s)[0], j=d.createElement(s);
    j.async=true,j.src='https://svrdntfctn.com/stm.js?id='+i+g;
    j.referrerPolicy='no-referrer-when-downgrade';
    f.parentNode.insertBefore(j,f);
  })(window,document,'script','name','K6K5Y8V7I3A7')
</script>
</body>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
