/* Overlay style */

.logo-overlay{
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 100;
	display: block;

}


#trigger-overlay {
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 100;
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
#trigger-overlay span {
	position: absolute;
	top: 46%;
	left: 8px;
	display: block;
	width: 70%;
	height: 3px;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
#trigger-overlay span:before, #trigger-overlay span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
#trigger-overlay span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}
#trigger-overlay span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}
#trigger-overlay:hover {
	opacity: 0.9
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.8)!important;
	z-index: 99999999;
}


.overlay nav.sticky {
    position: fixed;
    width: 100%;
    background: transparent!important;
    z-index: 999999;
}





/* Overlay closing cross */
.overlay .overlay-close {
	width: 50px;
	height: 50px;
	position: absolute;
	right: 25px;
	top: 25px;
	overflow: hidden;
	border: none;
	background-color: #00aded;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 999999;
}
/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}
.overlay ul li {
	display: block;
	/*height: 5%;*/
	height: calc(100% / 10);
	/*min-height: 10px;*/
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.overlay ul li a {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 300;
	display: block;
	color: #000;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
}
.overlay ul li a:hover, .overlay ul li a:focus {
	color: #009edb;
	background: transparent;
	text-decoration: none;
}
nav .nav li a:hover, .overlay ul li a:focus {
	color: #009edb;
	background: transparent;
	text-decoration: none;
}
/* Effects */
.overlay-genie {
	background: transparent;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
	transition: opacity 0.3s 0.2s, visibility 0s 0.6s;
}
.overlay-genie.open {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.overlay-genie svg {
	position: absolute;
	top: 0;
	left: 0;
}
.overlay-genie .overlay-path {
	fill: rgba(255,255,255,0.8);
}
.overlay-genie nav {
	opacity: 0;
	-webkit-transform: scale(0.8) translateY(-48%);
	transform: scale(0.8) translateY(-48%);
	-webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
	transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}
.overlay-genie .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}
.overlay-genie.open nav, .overlay-genie.open .overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.overlay-genie.open nav {
	-webkit-transform: scale(1) translateY(-50%);
	transform: scale(1) translateY(-50%);
}
.overlay-genie.close nav, .overlay-genie.close .overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
 @media screen and (max-height: 30.5em) {
.overlay nav {
	height: 70%;
	font-size: 20px;
}
.overlay ul li {
	min-height: 34px;
}
}
