{% import "_message.html.twig" as message %}

<div class="chat shadow rounded-bottom-4" {{ attributes.defaults(stimulus_controller('chat')) }}>
    <div id="chat-body" class="p-4 overflow-auto">
        {% for message in this.messages %}
            {% include '_message.html.twig' with { message, latest: loop.last } %}
        {% else %}
            <div id="welcome" class="text-end mt-5 py-4 px-5 bg-white rounded-5 shadow-sm w-75 mx-auto">
                <h4 class="mt-5">Hallo Freunde des Software-Entertainments!</h4>
                <span class="text-muted w-50 d-inline-block">
                    Ihr könnt diesen Chatbot benutzen um mehr über alle YouTube Videos von <strong>Never Code Alone</strong>
                    zu erfahren und Inhalte zu finden, die euch interessieren.
                    <br /><br />
                    Stellt einfach eine Frage indem ihr sie in das Eingabefeld unten eingebt und auf <strong>Abschicken</strong>
                    klickt.
                    <br /><br />
                    Viel Spaß, <br />
                    <i>Euer Robot Golla</i>
                </span>
            </div>
        {% endfor %}
        <div id="loading-message" class="d-none">
            {{ message.user([{text:''}]) }}
            {{ message.bot('Robot Golla sucht nach einer Antwort ...', true) }}
        </div>
    </div>
    <div class="chat-footer p-2 rounded-bottom-4">
        <div class="input-group">
            <input id="chat-message" type="text" class="form-control border-0" placeholder="Nachricht schreiben ...">
            <button id="chat-submit" class="btn btn-outline-secondary border-0" type="button">{{ ux_icon('mingcute:send-fill', { height: '25px', width: '25px' }) }} Abschicken</button>
        </div>
    </div>
</div>
