---
name: Composer Audit
on:
  [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: php-actions/composer@v6
    - uses: php-actions/composer@v6
      with:
        command: audit
